USE [master]
GO
/****** Object:  Database [IdentityDB]    Script Date: 21/10/2024 01:09:32 p. m. ******/
CREATE DATABASE [IdentityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IdentityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdentityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\IdentityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentityDB]
GO
/****** Object:  User [empleando]    Script Date: 21/10/2024 01:09:32 p. m. ******/
CREATE USER [empleando] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/10/2024 01:09:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21/10/2024 01:09:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdRolUser] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 21/10/2024 01:09:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [varchar](150) NOT NULL,
	[Lastname] [varchar](150) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Rol]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IdRol], [Rol]) VALUES (2, N'User')
INSERT [dbo].[Roles] ([IdRol], [Rol]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [IdRolUser], [Email], [Password]) VALUES (1, 1, N'admin@example.com', N'$2a$11$C2klsreiw5jhA2SZjXbJheWyxdSKVOLnuieYH.ja3za2aEcMnNY9S')
INSERT [dbo].[User] ([IdUser], [IdRolUser], [Email], [Password]) VALUES (2, 2, N'user1@example.com', N'$2a$11$C2klsreiw5jhA2SZjXbJheWyxdSKVOLnuieYH.ja3za2aEcMnNY9S')
INSERT [dbo].[User] ([IdUser], [IdRolUser], [Email], [Password]) VALUES (3, 3, N'manager@example.com', N'$2a$11$C2klsreiw5jhA2SZjXbJheWyxdSKVOLnuieYH.ja3za2aEcMnNY9S')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserData] ON 

INSERT [dbo].[UserData] ([IdUser], [Firstname], [Lastname], [Phone]) VALUES (1, N'John', N'Doe', N'555-1234')
INSERT [dbo].[UserData] ([IdUser], [Firstname], [Lastname], [Phone]) VALUES (2, N'Jane', N'Smith', N'555-5678')
INSERT [dbo].[UserData] ([IdUser], [Firstname], [Lastname], [Phone]) VALUES (3, N'Emily', N'Johnson', N'555-9876')
SET IDENTITY_INSERT [dbo].[UserData] OFF
GO
USE [master]
GO
